.infobarPlaceholder {
    width: 23vw;
    height: 100%;
    border: none;
}

.infobarInnerContainer {
    width: 58vw;
    padding: 0 0 40px 50px;
}

.drawerHeader {
    display: flex;
    flex-direction: row-reverse;
}