.collegeName {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-bottom: 0;
}

.collegeCardContainer {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.routeInfoContainer {
    margin: 0 40px;
    display: flex;
    flex-direction: column;
}

.routeInfo {
    margin-top: -3em;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color:  rgba(0, 0, 0, 0.54);
    margin: 40px 0 50px 0;
/*     
    margin-left: 0em;
    margin-top: -2em;
    margin-bottom: -2em;
    border-left: 3px dashed;
    padding-top: 2em;
    padding-bottom: 2em; */
    /*border-radius: 10px;*/
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);;
  }
  
  .separator:not(:empty)::before {
    margin-right: .25em;
  }
  
  .separator:not(:empty)::after {
    margin-left: .25em;
  }

  .directionsIcon {
    width: 30px;
    height: 30px;
  }
