.collegeName {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-bottom: 0;
}

.collegeCardContainer {
    margin: 40px 0;
}

.routeInfoContainer {
    margin: 0 40px;
    display: flex;
    flex-direction: column;
}

.chipContainer {
    display: flex;
    /* flex-direction: row-reverse; */
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.54);
    margin-left: 0em;
    margin-top: -2em;
    margin-bottom: -2em;
    border-left: 2px dashed;
    padding-top: 2em;
    padding-bottom: 2em;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.4);*/
}

.separator:not(:empty)::before {
    margin-right: 1em;
}

.separator:not(:empty)::after {
    margin-left: 1em;
}