.sidebarPage {
    z-index: 2;
    position: absolute;
}

.sidebarInnerContainer {
    width: 23vw;
}

.drawerHeader {
    display: flex;
    flex-direction: row-reverse;
    height: 70px;
}

.closeIcon {
    margin: 10px;
}

.sidebarHeader {
    align-content: center;
    text-align: center;
    margin:20px;
}

.sidebarTitle {
    font-family: 'Inter', sans-serif;;
    font-weight: 800;
    margin: 0;
    font-size: 38px;
}