.collegeMarkerContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
}

.collegeMarkerLabel {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    -webkit-text-stroke: .3px white;
	-webkit-text-fill-color: black;
}