.infobarPage .MuiPaper-root {
    z-index: 1;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.infobarPlaceholder {
    width: 23vw;
    height: 100%;
    border: none;
}

.infobarInnerContainer {
    width: 58vw;
}

.drawerHeader {
    display: flex;
    flex-direction: row-reverse;
}

.closeIcon {
    margin: 10px;
}