.collegeInfoContainer {
    margin:20px;
}

.collegeInfoContent {
    margin: 30px;
}

.collegeInfoFooter {
    align-self: flex-end;
    align-content: center;
    text-align: center;
    margin:20px;
    flex-grow: 1;
}


.divider {
  display: flex;
  
  /* &:before,
  &:after {
    content: "";
    flex: 1;
  } */
}

.line {
  align-items: center;
  margin: 1em -1em;
}
