 .mapContainer {
     width: 77vw;
     height: 100vh;
 }

 .markerStyling{
     color: aqua;
 }

 .collegeMarkerContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
}

.collegeMarkerLabel {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    -webkit-text-stroke: .3px white;
	-webkit-text-fill-color: black;
}


.collegeMarkerDefault {
    width: 30px;
    height: 30px
}

.collegeMarkerOnClick {
    width: 40px;
    height: 40px;
    z-index:90;
}

.collegeMarkerLabelClicked {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    -webkit-text-stroke: .3px white;
	-webkit-text-fill-color: black;
    font-size: 15px;
    z-index:90;
}

.sliderContainer {
    width: 200px;  
    position: relative;
    z-index: 100;
    bottom: 70px;
    left: 70px;
}

.reloadContainer {
    position: absolute;
    z-index: 100;
    bottom: 20px;
    left: 24vw; 
}

.collegeLabel {
    text-align: center;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    -webkit-text-stroke: .3px white;
	-webkit-text-fill-color: black;
}
