@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;800;900&display=swap');

.title {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 70px;
    text-align: left;
    text-decoration: underline;
    margin: 20px 0;
    line-height: 90px;
}

.title2 {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 30px;
    text-align: left;
    /* text-decoration: underline; */
    margin: 20px 0;
    line-height: 50px;
}


.subtitle {
    font-family: 'Inter', sans-serif;
    font-weight: 85;
    font-size: 18px;
    text-align: left;
    margin: 10px 0 10px 0;
}

.textContainer {
    display: flex;
    flex-direction: column;
    text-align:left;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    top: 40%;
    transform: translateY(20%);
}

.enterButton {
    background: black;
    border-radius: 3;
    border: 0;
    color: white;
    height: 48px;
    width: 230px;
    margin: 30px 35px 0 0;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.35px;
    box-shadow: 0 3px 5px 2px rgba(158, 158, 158, 0.5)
}

.enterButton2 {
    background: black;
    border-radius: 3;
    border: 0;
    color: white;
    height: 40px;
    width: 180px;
    margin: 30px 35px 0 0;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 0.35px;
    box-shadow: 0 3px 5px 2px rgba(158, 158, 158, 0.5);
    justify-self: center;
    align-self: center;
}

.enterButton:hover {background-color: #313131}